<!DOCTYPE html> 


<html>
 <head> 
<meta charset= "utf-8"> 
<title> {{title}}  </title> 

<link rel="stylesheet" href="static/styling.css">
</head> 
 <body>
 <h1 class= "title"> {{title}} </h1>

<nav class="menu">
 <span class= "menu">
 <a  class = "menu" href "{{url_for('projects') }}"> projects <a>
 <a  class = "menu" href "{{url_for('resume') }}" > resume <a>
 <a  class = "menu" href "{{url_for('contact') }}"> contact <a>
 <a  class = "menu"  href "{{url_for('notes') }}"> notes <a> 
  </span>
</nav> 

{% block content %} {% endblock %}



 </body>
</html> 
