
{% extends "base.html" %}  

{% block content %} 
<img class="profile_pic" src="Users/nick/Downloads/portland.jpg">
<div class="about"> 

<p> Nick Smith is a 20 year old student and autodidact. He lives in Encinitas, California and 
 enjoys everything from surfing and backpacking to painting warhammer and PC gaming. This website was 
created as a domain for Nick to further explore his interests in a public setting in the hope of 
creating a community where Nick can learn more and find others to share his interests with. 
</div> 
 
<div class = "contact" > 
  <p> For all inquires please contact the address below. </p> 
<ul>
  <li> email: thingubob@gmail.com </li>
  
</ul>

</div> 
{% endblock %} 

