
body { 
	background-color: black;
        align-content: center;
}

.title { 
color: #336600; 
font-family: "Helvetica";  
padding: 5px;
margin: 7px;
}

.menu {
color: #336600;
font-family: "Helvetica";
text-decoration: none;
word-spacing: 50px;

}

.noter {
color: #336600; 
font-family:"Helvetica";
}

.contact {
color: #336600; 
font-family: "Helvetica";  
align-content: center;
}

.backhome {
color: #336600;
font-family: "Helvetica";
text-decoration: none;
padding: 35px;

}
