
body { 
	background-color: FBFEEE;
        align-content: center;
}

.title { 
color: #000000; 
font-family: "Helvetica";  
padding: 5px;
margin: 7px;
}

.menu {
color: #000000;
font-family: "Helvetica";
text-decoration: none;
word-spacing: 50px;

}

.noter {
color: #000000; 
font-family:"Helvetica";
}

.contact {
color: #000000; 
font-family: "Helvetica";  
align-content: center;
}

.backhome {
color: #000000;
font-family: "Helvetica";
text-decoration: none;
padding: 35px;

}

.notes {
margin: auto;
color: #000000;
font-family: "Helvetica";
align-content: center;
}

div.sub {
margin: auto;
width: 50%;
}

.submission_button { 

}
.about {
margin: auto;
color: #000000;
font-family: "Helvetica";
align-content: center;
}

.profile_pic {
align content: left; 
max-width: 50%; 
max-height: 50%;
}
